config xzx config
	option ip '000.000.000.000'
	option lan_ip '10.10.10.254'
	
	option playmode '000'
	#000 wifi
	#001 bt
	#002 aux
	#003 usb
	#004 tf
	#005 alexa
	#006 coll

	option channel '000'
	#000 stereo
	#001 left
	#002 right
	
	option volume ' '
	#000-100
	

	option wificonnectstatus '0'
	#0 init
	#1 configing
	#2 connecting
	#3 connected
	#4 connect failed

	option audiodetectstatus '0'
	option audionamestatus '0'
	option audioname ' '
	option playlist_directory /usr/script/playlist.m3u

	option timer1 ' '
	option timer1_url ' '
	option timer2 ' '
	option timer2_url ' '
	
	option manufacturer 'DOSS 1212'
	option manufacturer_url 'http://www.dossav.com'
	option model_description 'DOSS1212_DS_1639'
	option model_name 'DOSS1212_DS_1639'
	option model_number 'DOSS1212_DS_1639'
	option model_url 'http://www.dossav.com'
	
	option function_support 'bt tf-card'
	option language_support 'cn en'
	option language 'en'
	option project 'DS_1639'
	option current_artist ' '
	option current_title ' '
	option current_album ' '
	option current_contentURL ' '
	option current_coverURL ' '
	option recordstatus '0'
	option sd_last_contentURL ' '
	option usb_last_contentURL ' '
	
	option multiroom_status '0'
	#0 init/master
	#1 master
	#2 slave
	
	option slave_status '0'
	#0 init
	#1 slave pstart
	
	option multiroom_ssid ' '
	option key_num '7'
	option wifiaudio_uuid ' '
	option amazon_authorizationCode ' '
	option amazon_redirectUri ' '
	option amazon_clientId ' '
	option amazon_ProductId ' '
	option amazon_Dsn ' '
	option amazon_CodeChallengeMethod 'S256'
	option amazon_CodeChallenge ' '
	option amazon_code_verifier ' '
	option amazon_AccessToken ' '
	option amazon_RefreshToken ' '
	option amazon_loginStatus '0'
	option amazon_vad_Threshold '1000000'
	option amazon_language 'en-US'
	option amazon_endpoint 'https://avs-alexa-na.amazon.com'
	option usb_status ' '
	#0 off
	#1 on
	option tf_status ' '
	#0 off
	#1 on
	option platform '2'
	#1 mtk
	#2 montage
	option token ' '
	option sw_ver '4.2.1226.0'
	option mac_addr ' '
	option factory '0'
	option speech_recognition '3'
	#1 speech
	#2 iflytek
	#3 Alexa
	option btconnectstatus '0'
	#0 not connected
	#1 connected
	option TuringToken '0'
	option TuringUserid '1'
	option release ' '
	option power '0'
	option ap_ssid ' '
	option ap_ssid1 ' '
	option firmware '6.2.1123.0'
	option server_wifi_ver '0'
	option server_bt_ver '0'
	option charge '000'
	option server_conex_ver '0'
	option shutdown_before_playmode '000'
	option btupgrade_state '0'


  