# CONFIG_ALLOW_DEV_COREDUMP is not set
# CONFIG_COREDUMP is not set
# CONFIG_DEBUG_FS is not set
# CONFIG_DEBUG_INFO is not set
CONFIG_DECOMPRESS_LZMA=y
# CONFIG_DNOTIFY is not set
# CONFIG_FILE_LOCKING is not set
# CONFIG_FREEZER is not set
# CONFIG_FSNOTIFY is not set
# CONFIG_FUSE_FS is not set
CONFIG_GPIOLIB_IRQCHIP=y
# CONFIG_GPIO_BUTTON_HOTPLUG is not set
CONFIG_HAVE_KERNEL_ZSTD=y
CONFIG_HID=m
CONFIG_HID_GENERIC=m
# CONFIG_INET_DIAG is not set
CONFIG_INITRAMFS_ROOT_GID=1000
CONFIG_INITRAMFS_ROOT_UID=1000
CONFIG_INITRAMFS_SOURCE="/home/ray/code/panther/openwrt/build_dir/target-mipsel-openwrt-linux/root-panther"
# CONFIG_INOTIFY_USER is not set
CONFIG_INPUT=m
# CONFIG_IPV6 is not set
# CONFIG_IP_ADVANCED_ROUTER is not set
# CONFIG_JFFS2_FS is not set
# CONFIG_KALLSYMS is not set
CONFIG_KERNEL_LZMA=y
# CONFIG_KERNEL_LZO is not set
# CONFIG_KERNEL_ZSTD is not set
# CONFIG_KGDB is not set
# CONFIG_MAGIC_SYSRQ is not set
# CONFIG_MMC is not set
# CONFIG_MSDOS_FS is not set
# CONFIG_MULTIUSER is not set
# CONFIG_NETWORK_FILESYSTEMS is not set
# CONFIG_NLS is not set
# CONFIG_OVERLAY_FS is not set
# CONFIG_PANTHER_DEBUG_ZBOOT is not set
# CONFIG_PANTHER_I2C_GPIO is not set
# CONFIG_PANTHER_I2C_NONE is not set
# CONFIG_PANTHER_SDHCI is not set
# CONFIG_PANTHER_SND_PCM0_DUMMY is not set
# CONFIG_PANTHER_SND_PCM0_ES7243 is not set
# CONFIG_PANTHER_SND_PCM0_ESS9018Q2C is not set
# CONFIG_PANTHER_SND_PCM0_NONE is not set
# CONFIG_PANTHER_SOFTWARE_UART is not set
# CONFIG_PANTHER_SPI is not set
# CONFIG_PANTHER_SPI_GPIO is not set
CONFIG_PANTHER_SPI_NONE=y
CONFIG_PANTHER_UIO_OTP=y
# CONFIG_PANTHER_UIO_TSI is not set
# CONFIG_PANTHER_USB1_HOST_ROLE is not set
CONFIG_PANTHER_USB1_NONE=y
# CONFIG_PANTHER_USB_HOST_ROLE is not set
CONFIG_PANTHER_USB_NONE=y
# CONFIG_PANTHER_WATCHDOG is not set
# CONFIG_PM is not set
CONFIG_RAMFS_RECOVERY_IMAGE=y
# CONFIG_RCU_EXPERT is not set
CONFIG_RD_LZMA=y
# CONFIG_RELAY is not set
# CONFIG_SCSI is not set
# CONFIG_SCSI_DMA is not set
# CONFIG_SERIO is not set
CONFIG_SND_COMPRESS_OFFLOAD=m
CONFIG_SND_HWDEP=m
CONFIG_SND_MIXER_OSS=m
# CONFIG_SND_PROC_FS is not set
CONFIG_SND_RAWMIDI=m
CONFIG_SND_RAWMIDI_SEQ=m
CONFIG_SND_SEQUENCER=m
CONFIG_SND_SEQUENCER_OSS=y
CONFIG_SND_SEQ_DUMMY=m
# CONFIG_SND_SUPPORT_OLD_API is not set
CONFIG_SND_VIRMIDI=m
# CONFIG_SQUASHFS_ZSTD is not set
# CONFIG_SUSPEND is not set
# CONFIG_SWAP is not set
# CONFIG_TEXTSEARCH is not set
# CONFIG_UBIFS_FS is not set
# CONFIG_USB_GADGET_MT_USB2 is not set
# CONFIG_USB_SUPPORT is not set
# CONFIG_VFAT_FS is not set
# CONFIG_VM_EVENT_COUNTERS is not set
